* {
    border: none;
    border-radius: 7px;
    font-family: 'JetBrains Mono','FontAwesome6Free', 'FontAwesome6Brands', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #cdd6f4;
    padding: 0;
    margin: 0;
}

tooltip {
    background: #000000;
    border-radius: 7px;
    border-width: 2.5px;
    border-style: solid;
    border-color: #8aadf4;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#workspaces button {
    background: transparent;
    color: white;
    font-size: 16px;
    margin-right: 6px;
    padding-right: 0px;
    padding-left: 0px;
}
#workspaces button.visible {
    border-radius: 0px;
    border-bottom: 2px solid red;
}
#workspaces button.focused {
    border-top: 3px solid #9aedfe;
    color: #9aedfe;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}
#workspaces,
#network,
#custom-gpuState,
#window,
#backlight,
#pulseaudio,
#custom-cpu,
#custom-vrr,
#battery,
#tray,
#custom-clocky,

#backlight {
    background: #000000;
    opacity: 1.0;
    padding: 1.5px 7px 1.5px 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 12px 12px 12px 12px;
    margin-right: 5px;
    margin-left: 5px;
}

#tray {
    background: transparent;
    margin-right: 7px;
}

#workspaces {
    background: transparent;
    border-radius: 0px;
    margin-left: 5px;
    padding-right: 0px;
}

#window {
    background: transparent;
    border-radius: 7px;
    margin-left: 60px;
    margin-right: 60px;
}

#custom-clocky {
    color: #cdd6f4;
    margin-right: 3px;
    margin-left: 3px;
}

#network {
    color: #f9e2af;
    margin-right: 5px;
}

#custom-gpuState {
    color: #89b4fa;
    margin-left: 5px;
}

#custom-cpu {
    color: #FF7F7F;
    margin-left: 5px;
}

#custom-vrr {
    color: #a6e3a1;
    margin-left: 5px; 
}

#pulseaudio {
  color: #89b4fa;
  margin-right: 0px;
}

#battery {
    color: #a6e3a1;
    margin-right: 5px;
    margin-left: 5px;
}

#battery.critical:not(.charging) {
  background-color:           #F53C3C;
  color:                      #EEEEEE;
  animation-name:             blink;
  animation-duration:         0.5s;
  animation-timing-function:  linear;
  animation-iteration-count:  infinite;
  animation-direction:        alternate;
}
